@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    outline: none;
}
*::-webkit-scrollbar {
    display: none;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
    margin-left: calc(50% - 40px);
    margin-top: 100px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #80A498;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

#header {
    display: flex;
    //border-bottom: black 2px solid;
    width: 100%;
    position: fixed;
    background-color: #80a498;
    box-shadow: 0px 0px 5px black;
    top: 0;
    height: 45px;
    h1 {
        margin: 0 auto;
        margin-bottom: 5px;
    }
}
#sender {
    display: flex;
    flex-direction: column;
    width: 100vw !important;
    padding-top: 50px;
    background: lightgrey;
    overflow:scroll;
    #noChats{
        text-align: center;
        margin-top: 100px;
        display:none;
    }
    img {
        width: 40px;
        padding: 5px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 5px;
    }
    button {
        height: 50px;
        text-align: left;
        padding-left: 10px;
        font-size: 20px;
    }
    div {
        background-color: #d3d3d3;
        height: 60px;
        padding-left: 10px;
        margin: 5px;
        display: flex;
        flex-direction: column;   
        border-bottom: 1px solid black;     
        cursor: pointer;
        h1 {
            font-size: 20px;
            width: 100%;
            text-align: left;
        }
        h2{
            font-size: 15px;
            width: 100%;
            text-align: left;
            overflow: hidden;
            height: 20px;
        }
        
    }
}

#addChatDivWrapper{
    top:100%;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    transition:top .5s;
    #addChatDiv{
        margin-top:20vh;
        height:80vh;
        background: darkgrey;
        box-shadow: 0px 0px 10px #0000007d;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        input {
            width: calc(100% - 100px);
            border: none;
            border-radius: 5px;
            margin: 0;
            height: 30px;
            font-size: 20px;
            padding-left: 10px;
            margin-left: 40px;
            margin-top: 10px;
            line-height:30px;
        }
        #chatName{
            display: none;
        }
        #createChat{
            display:none;
        }
        #users {
            margin-top:10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            div {
                width: max-content;
                background: #80A498;
                border-radius: 5px;
                margin: 5px;
                padding: 5px;
                cursor: pointer;
                h1 {
                    font-size: 25px;
                }
                h1:hover {
                    text-decoration: line-through;
                }
            }
        }
        img{
            display: none;
            background: #80a498;
            border-radius: 50%;
            transform: rotate(180deg);
            height: 35px;
            width: 35px;
            position: absolute;
            bottom: 10px;
            right: 4px;
            transition-duration: 1s;
            cursor: pointer;
        }
    }
    
}

#main {
    width: 100vw;
    display: flex;
    display: none;
    flex-direction: column;
    background-color: #d3d3d3;
    overflow:hidden;
    #header {
        img {
            width: 35px;
            height: 40px;
            position: fixed;
            top: 0;
        }
        #settings{
            right:0;
            width:40px;
            padding:2px;
            cursor: pointer;
        }
    }
    #messages {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        background-color: lightgray;
        padding: 10px 10px 0px 10px;
        margin-bottom:5px;
        height: 100%;        
        #typing{
            position: absolute;
            bottom: 50px;
            font-size: 10px;
            margin-left: 40px;
        }
        .message {
            width: 100%;
            margin-top: 5px;
            h1 {
                font-size: 20px;
                display: inline-block;
                max-width: 70vw;
                overflow-wrap: anywhere;
            }
            h2 {
                font-size: 10px;
                display: inline-block;
                max-width: 70vw;
            }
            h3{
                font-size: 10px;
                display: inline-block;
                max-width: 70vw;
            }
            img{
                height: 50vw;
                max-width:70vw;
            }
            video{
                max-height: 50vw;
                max-width: 70vw;
            }
            #alert{
                text-align: center;
                h1{
                    opacity: 0.6;
                    background: #bbb;
                    border-radius: 5px;
                    padding: 3px;   
                }
            }
        }
        .right {
            float: right;
            background-color: #b5b5b5;
            display: flex;
            flex-direction: column;
            max-width: fit-content;
            padding: 5px 5px 5px 5px;
            border-radius: 5px;
        }
        .left {
            float: left;
            background-color: #a1ccbe80;
            display: flex;
            flex-direction: column;
            max-width: fit-content;
            padding: 5px 5px 5px 5px;
            border-radius: 5px;
        }
        
        
    }
    #send {
        display: flex;
        flex-direction: row;
        padding: 2px;
        border-radius: 5px;
        margin: 2px;
        width: calc(100vw - 8px);
        bottom: 0;
        background-color:lightgrey;
        input{
            display:none;
        }
        img#uploadImage{
            height:35px;
            cursor: pointer;
            position:absolute;
            bottom: 10px;
            left: 4px;
            display:none,
        }
        #submit {
            background: #80a498;
            border-radius: 50%;
            transform: rotate(180deg);
            height: 35px;
            width: 35px;
            position: absolute;
            bottom: 10px;
            right: 4px;
            transition-duration: 1s;
            cursor: pointer;
        }
        span:focus {
            outline: none;
            border: none;
        }
        span {
            width: calc(100% - 80px);
            line-height: 40px;
            font-size: 30px;
            max-height: 200px;
            overflow-y: scroll;
            word-break: break-word;
            background: darkgrey;
            margin: 5px;
            border-radius: 5px;
            margin-left:40px;
            border: none;
            outline: none;
            div{
                font-size: 10px;
                background-color: lightgrey;
                margin: 5px;
                width: max-content;
                padding: 5px;
                line-height: 20px;
                border-radius: 5px;
                display: flex;
                height: 20px;
                img{
                    height: 15px;
                    align-self: center;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}

#chatSettings{
    position:absolute;
    display:none;
    margin-top:50px;
    width:100%;
    div{
        padding: 20px;
        h1{
            font-size: 30px;
        }
        div{
            padding:0;
            display:flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-size: 20px;
                opacity: 0.6;
            }
            input{
                display: none;
                width: calc(100% - 20px);
                border: none;
                    border-bottom-color: currentcolor;
                    border-bottom-style: none;
                    border-bottom-width: medium;
                opacity: 0.6;
                border-bottom: 2px solid black;
                font-size:20px;
                background-color: #0000;
            }
            img{
                width:20px;
                height:20px;
                position: absolute;
                right: 10px;
                cursor: pointer;
            }
        }
        
    }
    #leave{
        width: max-content;
        display: flex;
        flex-direction: row;
        background-color:#80A498;
        padding:5px;
        border-radius: 5px;
        margin-left:15px;
        cursor: pointer;
        h1{
            width:max-content;
            cursor: pointer;
        }
        img{
            width: 30px;
            height: 30px;
            margin: auto 0;
            margin-left:5px;
        }
    }
}