
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>messages</title>
            <meta name="description" content="simple messaging software">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="/static/css/index.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
        </head>
        <body onload="loginHash()">
            <select id="sender">

            </select>
            <div id="messages"></div>
            <input id="message" type="text">
            <button onclick="sendMessage('ollie')">send</button>
            <script src="/static/js/index.js" async></script>
        </body>
    </html>
                    